* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  height: 75vw;
  width: 75vw;
  padding-top: 1px;
  padding-left: 1px;
  background-color: #000;
  margin-bottom: 100px;
}

.container div {
  flex: 1 1 auto;
  margin-bottom: 1px;
  margin-right: 1px;
  background-color: #fff;
}

div.color {
  background-color: orange;
}

@media only screen and (max-width: 750px) {
  .container {
    width: 77vw;
  }
}

@media only screen and (max-width: 365px) {
  .container {
    width: 79vw;
  }
}

@media only screen and (max-width: 270px) {
  .container {
    width: 81vw;
  }
}

@media only screen and (max-width: 270px) {
  .container {
    width: 83vw;
  }
}
